<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/jinja_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jinja_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JinjaHub">
        <activity
            android:name=".ui.splash_screen.MySplashScreen"
            android:theme="@style/Theme.JinjaHub"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.market_place.congratulation.SuccessAdUpload"
            android:exported="false" />
        <activity
            android:name=".ui.professionals_registration.ProfessionalSignUp"
            android:exported="false" />
        <activity
            android:name=".ui.testimony_reviews.activities.EditReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.multi_image_viewer.ViewAllImagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.testimony_reviews.fragments.comments.LatestCommentsActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="jinjahub.com/link" />
                <data android:scheme="https" />
                <data android:host="jinjahub.com/link" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.message.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jinja_product.JinjaProduct"
            android:exported="false" />
        <activity
            android:name=".ui.market_place.details.ProductDetail"
            android:exported="false" />

        <activity
            android:name=".ui.welcome.Welcome"
            android:exported="false" />
        <activity
            android:name=".ui.client_registration.Login"
            android:exported="false" />
        <activity
            android:name=".ui.client_registration.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".ui.client_registration.ClientSignup"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding_screens.OnBoardingScreens"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>